
.cards{
    position: relative;
    right:6px; 
   
}
.code{
    position: relative;
    left: 9px;
}
.tabe{
    position: relative;
    left: 190px;
}
.charge{
    position: relative;
    left:230px;
}
.text{
font-size: 11px;
}
.foot{
    position: relative;
    top:485px;
}

.alige{
    position: relative;
    left: -4px;
    color: #1D242E;
}

@media only screen and (max-width: 600px){
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    left: -130px;
    
}
.taille{
    width: 10rem,
    
}

}